:root{
	--bg:#333;
}

img.nitrologic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

html, body {
    margin: 0;
	padding: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
